.nav {
    margin-top: 10px;
    grid-area: n;
    background-color: whitesmoke;
    padding-top: 10px;

}

.item {
    margin-top: 10px;
}

.item a {
    color: black;
    font-family: Arial sans-serif;
    font-size: 22px;
    text-decoration: none;
}

.item a.active {
    color: royalblue;
}